<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/fr.imta.mde.flowchart2shapes/Flowchart2Shapes.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="Flowchart"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="Flowchart" value="EMF"/>
<mapEntry key="Shapes" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="Flowchart" value="METAMODELINPUT"/>
<mapEntry key="Shapes" value="METAMODELOUTPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Shapes"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="Flowchart" value="/fr.imta.mde.flowchart2shapes/Flowchart.ecore"/>
<mapEntry key="Shapes" value="/fr.imta.mde.flowchart2shapes/Shapes.ecore"/>
<mapEntry key="IN" value="/fr.imta.mde.flowchart2shapes/test1/flowchart-sample1.xmi"/>
<mapEntry key="OUT" value="/fr.imta.mde.flowchart2shapes/test1/flowchart-sample1-shapes.xmi"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
